<!DOCTYPE html>
   <head>
      <title>Status Geral</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
   <center><h1>Status Geral</h1></center>
   <center><h2>Todas as Salas</h2></center>

   <div class="S1">
 	  <h3>Sala S1</h3>
 	  <label>
 	  <h4>Ar Condicionado 01</h4>
	  <span class="leds101"></span>
  	  	<h4>Ar Condicionado 02</h4>
  	  <span class="leds102"></span>
   		<h4>Ar Condicionado 03</h4>
   	  <span class="leds103"></span> 	
   	  </label>
   </div>

   <div class="S2">
          <h3>Sala S2</h3>
          <label>
          <h4>Ar Condicionado 01</h4>
          <span class="leds201"></span>
                <h4>Ar Condicionado 02</h4>
          <span class="leds202"></span>
                <h4>Ar Condicionado 03</h4>
          <span class="leds203"></span>
          </label>
   </div>

   <div class="S3">
          <h3>Sala S3</h3>
          <label>
          <h4>Ar Condicionado 01</h4>
          <span class="leds301"></span>
                <h4>Ar Condicionado 02</h4>
          <span class="leds302"></span>
                <h4>Ar Condicionado 03</h4>
          <span class="leds303"></span>
          </label>
   </div>

   <div class="S4">
          <h3>Sala S4</h3>
          <label>
          <h4>Ar Condicionado 01</h4>
          <span class="leds401"></span>
                <h4>Ar Condicionado 02</h4>
          <span class="leds402"></span>
                <h4>Ar Condicionado 03</h4>
          <span class="leds403"></span>
          </label>
   </div>

   <div class="S5">
          <h3>Sala S5</h3>
          <label>
          <h4>Ar Condicionado 01</h4>
          <span class="leds501"></span>
                <h4>Ar Condicionado 02</h4>
          <span class="leds502"></span>
                <h4>Ar Condicionado 03</h4>
          <span class="leds503"></span>
          </label>
   </div>
  <br><br>
  <center>
  <a href="/" class="button">Voltar</a>
  </center> 
 </body>
</html>
