<!DOCTYPE html>
   <head>
      <title>Controle FGA</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>

   <center><h2> Central de Controle FGA</h2></center>
   <center><h4> Selecione o Ar Condicionado</h4></center>
   <h3></h3>
   <center>
   <form class="selecionarsala" method="POST" action="/">
   <select name="sala">
   	<option value="none">Escolha uma opção</option>
        <optgroup label="Status Geral">
                <option value="status">Todas as Salas</option>
        </optgroup>
	<optgroup label="Sala S1">
		<option value="s101">Ar Condicionado 1</option>
	</optgroup>
        <optgroup label="Sala S2">
                <option value="s201">Ar Condicionado 1</option>
        </optgroup>
        <optgroup label="Sala S3">
                <option value="s301">Ar Condicionado 1</option>
        </optgroup>
        <optgroup label="Sala S4">
                <option value="s401">Ar Condicionado 1</option>
        </optgroup>
        <optgroup label="Sala S5">
                <option value="s501">Ar Condicionado 1</option>
        </optgroup>

    
     </select>
     <br><br>
     <button type="submit" class="btn btn-default">Pesquisar</button>
     </form>
     </center>
     </body>
</html>

