<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		
	</center><h1>Controle Remoto - Ar Condicionado</h1></center>	
	<form method="post" action="/">
		<h3> ON/OFF =>
                <input type="submit" value="onoff" name="ONOFF"/>
                </h3>

		<h3> TEMP+ =>
		<input type="submit" value="tempmais" name="TEMPMAIS"/>
		</h3>

		<h3> TEMP- 	
		<input type="submit" value="tempmenos" name="TEMPMENOS"/>
		</h3>
		
   </body>
</html>
